<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      SQL Scratch Pad
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SQL Scratch Pad</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card class="card-sqlite">
      <ion-card-title>
        Run Query
      </ion-card-title>
      <ion-input #inputQuery type="text"></ion-input>
      <ion-button type="button" color="primary" (click)="querySubmit()">Submit</ion-button>
    </ion-card>
    <ion-label>Results</ion-label><br/>
    <ion-text>{{ queryResults || '' }}</ion-text>
  </div>
</ion-content>