<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="showLevelSelectPopover($event)">Level</ion-button>
      <ion-popover #popover [isOpen]="isShowPopover" (didDismiss)="isShowPopover = false">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-list>
              <ion-item (click)="sendChangeLevel(1)">Level 1</ion-item>
              <ion-item (click)="sendChangeLevel(2)">Level 2</ion-item>
              <ion-item (click)="sendChangeLevel(3)">Level 3</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
    <ion-title>
      SQL Game - Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SQL Game - Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-text class="level-title" color="primary">Level {{ currentGameLevel }}</ion-text>
    <ion-card class="card-sqlite">
      <ion-card-title>
        Query Tool
      </ion-card-title>
      <ion-textarea #inputQuery class="query-editor" placeholder="Enter query here..." [autoGrow]="true" [autofocus]="true" rows="5"></ion-textarea>
      <ion-button type="button" color="tertiary" (click)="querySubmit()">Run</ion-button>
    </ion-card>
    <ion-card class="card-sqlite results-card" *ngIf="queryResults && !queryError">
      <ion-card-title color="tertiary">
        Results
      </ion-card-title>
      <div>
        <ion-textarea color="dark">{{ queryResults }}</ion-textarea>
      </div>
    </ion-card>
    <ion-card class="card-sqlite error-card" *ngIf="queryError">
      <ion-card-title color="danger">
        Error
      </ion-card-title>
      <div>
        <ion-text color="danger">{{ queryError }}</ion-text>
      </div>
    </ion-card>
  </div>
</ion-content>
